* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.card {
  box-shadow: 2px 2px 5px #888888;
  margin: 100px auto;
  width: 430px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
  align-items: center;
}
.imageContainer {
  overflow: hidden;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.imageContainer img {
  object-position: top;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.infoContainer {
  width: auto;
  display: flex;
  flex-direction: column;
}
h4 {
  color: #424242;
  margin-top: 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #888888;
  margin-top: 5px;
}
.card:hover {
  box-shadow: 2px 5px 8px #5a5a5a;
}
@media only screen and (max-width: 600px) {
  .card {
    margin: 50px 10px;
    width: 400px;
  }
}
